:root {
  --background: #008C66;
  --accent: #FBBF24;
  --button: #3A75BB;
  --button-hover: #2E5E96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex; */
}

#root {
  flex-grow: 1;
  /* Keep App width consistent across components */
  /* Center align app */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 1400px;
  /* height: 100vh; */
  /* Removed for now to adjust other Component heights */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px gray;
  /* transition: all .5s */
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.Header,
.Footer {
  width: 100%;
  background-color: var(--background);
}


/* ========== Header & NavBar styles ========== */
.Header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.Nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 2rem;
  color: white;
}

.Nav .admin-wrapper {
  display: flex;
  align-items: center;
}

svg {
  display: block;
  /* Remove extra whitespace on bottom */
  margin-right: 1.1rem;
  font-size: 1.75rem;
  color: white;
}

.admin-login,
.site-title {
  text-decoration: none;
  color: black;
}

.admin-login {
  font-size: 1rem;
  background-color: var(--accent);
  padding: 0.6rem 1.1rem;
  border-radius: 6px;
  border: 1px solid black;
}

.admin-login:visited,
.site-title:visited {
  color: black;
}

/* GLOBAL Component styles */
.Home,
.Missing,
.AdminLogin {
  width: 100%;
  flex-grow: 1;
  /* grow vertically to fill space */
  /* Sticky footer */
  /* overflow-y: auto;  */
}

/* ===== Admin Login Page Styles ====== */
.AdminLogin {
  background: url("../src/images/login-img.png");
  position: relative;
  height: 800px;
}

.login-wrapper {
  background-color: rgba(255, 255, 255, 0.88);
  max-width: 450px;
  height: 500px;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  position: absolute;
  right: 8%;
  top: 18.5%;
}

.AdminLogin h2 {
  margin: 1.5rem 0 1rem 0;
}

.AdminLogin p {
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.login-wrapper form label {
  color: var(--background);
  margin-bottom: 0.5rem;
}

.login-wrapper form input,
.login-wrapper form button {
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
}

.login-wrapper form button {
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  background-color: var(--button);
  margin-top: 1rem;
}

.login-wrapper form button:hover {
  background-color: var(--button-hover);
}

p.no-account {
  margin-top: 2.5rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
}


/* ====== Missing 404 page styles ====== */
.Missing {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Missing p {
  padding: 1rem;
}

/* ========= Footer Styles ========= */
.Footer {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-footer-section {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-column-gap: 1rem;
  padding-bottom: 3rem;
}

.Footer h4 {
  color: var(--accent);
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.Footer p,
.Footer a {
  color: white;
}

.team-members a,
.resident-links p,
.community-links p {
  line-height: 2rem;
}

.team-members {
  display: flex;
  flex-direction: column;
}

form.email-sign-up {
  padding: 2rem 0 0 1.5rem;
}

.email-sign-up p {
  line-height: 1.3rem;
  margin-bottom: 1.25rem;
}

/* Hide input label from UI */
.Footer label {
  position: absolute;
  left: -99999px;
}

.email-sign-up input,
.email-sign-up button {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 8px;
}

.email-sign-up input {
  width: 75%;
  padding: 1rem 0.75rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.email-sign-up button {
  background-color: #2569d7;
  color: white;
  padding: 1rem;
  cursor: pointer;
  /* width: calc(25% - 5px); */
}

.bottom-footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-footer-section .bottom-links,
.bottom-footer-section .github-links {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.bottom-footer-section .bottom-links p {
  margin-right: 3rem;
}

.github-links svg {
  margin-right: 0.75rem;
}






/* ==== TABLET MEDIA QUERIES ===== */
@media (max-width: 700px) {

  /* ===== Admin Login Page Styles ====== */
  .AdminLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Height of background img */
    height: 700px;
  }

  .login-wrapper {
    position: static;
  }

  /* ===== Footer Styles ====== */
  .top-footer-section {
    display: flex;
    flex-direction: column;
  }

  .top-footer-section>div {
    margin-bottom: 1.75rem;
  }

  form.email-sign-up {
    padding: 0;
  }

  .email-sign-up input,
  .email-sign-up button {
    width: 100%;
    border: 1px solid var(--accent);
    padding: 0.75rem;
  }

  .email-sign-up input {
    margin-bottom: 0.5rem;
    background-color: transparent;
    color: white;
  }

  .email-sign-up input::placeholder {
    color: white;
  }

  .bottom-footer-section {
    justify-content: center;
  }
}

/* ==== MOBILE MEDIA QUERIES ===== */
@media (max-width: 480px) {

  /* ===== Admin Login Page Styles ====== */
  .AdminLogin {
    /* Height of background img */
    height: 600px;
  }

  .login-wrapper {
    margin: 1rem;
  }

  .admin-wrapper svg {
    font-size: 2rem;
  }

  .admin-icon {
    margin: 0;
  }

  /* ===== Footer Styles ====== */
  .bottom-footer-section .bottom-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom-footer-section .bottom-links p {
    margin-bottom: 1rem;
  }
}