.hero-section-container {
    background-image: url(../images/house-img.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 150px 100px;
    width: 100%;
    /* width:1280px; */
    height: 730px;
    justify-items: left;
}


.golden-text {
    color: rgb(139, 130, 0);
    margin-bottom: 20px;
}

.hero-section-container h1,
.hero-section-container p {
    margin-bottom: 20px;
}

.row {
    display: flex;
}


.btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: turquoise;
    align-self: flex-start; /* Prevents button from growing if error msg shows */
}

/* autocomplete css */
.autocomplete {
    position: relative;
    display: inline-block;
}

.suggestions {
    border: 1px solid #ccc;
    border-top-width: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.suggestions li {
    background-color: #fff;
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.no-suggestions {
    color: red;
}

.hero-text-wrapper {
    background-color: #ffffffcd;
    padding: 10px;
    border-radius: 6px;
}

/* ==== TABLET MEDIA QUERIES ===== */
@media (max-width: 700px) {
    .hero-section-container {
        height: 500px;
    }
}

/* ==== MOBILE MEDIA QUERIES ===== */
@media (max-width: 635px) {
    .hero-section-container {
        height: 320px;
        padding: 0;
    }

    .hero-text-wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 430px) {
    .hero-section-container,
    .hero-text-wrapper {
        height: 420px;
    }
}