.switch {
  position: relative;
  display: inline-block;
  width: 1.5vw;
  height: 1.6vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2vh;
  width: 2vw;
  left: 0.05vw;
  bottom: 0.1vh;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #159461;
}

input:focus + .slider {
  box-shadow: 0 0 #159461;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.4vw);
  -ms-transform: translateX(0.3vw);
  transform: translateX(0.56vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.2vw;
}

.slider.round:before {
  height: 1.4vh;
  width: 0.8vw;
  border-radius: 50%;
}
